*.o
/results-attacks
*.log
scripts-attacks/scripts-results/results
scenario1-baseline/results-comparison-dos
scenario1-baseline/results-sw
scenario2-firewall/results
scenario3-secoc/results
master-experiment/resultados-sw
README_campanha.md
master-experiment/master_results
/anotacoes